body {
  background-color: #f0f0f0;
  /* stylelint-disable-next-line string-quotes */
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

header {
  /* Header background */
  background-color: #562b81;
}

.page-header {
  color: #fff;
  font-size: 1.125rem;
}

.header-column {
  display: flex;
  align-items: center;
}

h1,
h2 {
  /* stylelint-disable-next-line string-quotes */
  font-family: 'Proza Libre', sans-serif;
}

h2 {
  font-weight: 100;
}

h1 {
  font-weight: 600;
}

label {
  display: block;
}

img {
  width: 100%;
  margin-bottom: 0.6rem;
  border-radius: 0.4rem;
  padding-left: 0%;
}

.center-row {
  font-size: 1.125rem;
}

.form-input {
  display: flex;
  flex-direction: column;
}

.notes-field {
  width: 100%;
  border-radius: 0.2rem;
  margin-top: 0.5rem;
  height: 9.375rem;
}

.save-button {
  border-radius: 0.4rem;
  background-color: #562b81;
  color: #fff;
  font-size: 1.375rem;
  font-weight: 500;
  text-transform: uppercase;
  height: 3.125rem;
  width: 7rem;
}

.notes-row {
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

.footer-row {
  justify-content: space-between;
  align-items: flex-end;
}

.button-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-input {
  border-radius: 0.2rem;
  width: 100%;
  height: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 0.3rem;
}

.delete-button {
  color: #dc2626;
  border: none;
  font-size: 1rem;
  text-decoration: underline;
  width: 8rem;
}

.button-hide {
  visibility: hidden;
}

/* Delete modal window and button styles */
.delete-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  /* flex styles */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: white;
  padding: 1rem;
  border-radius: 3%;
}

.pop-buttons {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
}

.cancel-button {
  background-color: #b6b6b6;
  width: 5rem;
  padding: 0.4rem;
  border-radius: 6%;
  border: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

.confirm-button {
  background-color: #dc2626;
  color: #fff;
  width: 5rem;
  padding: 0.4rem;
  border-radius: 6%;
  border: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

.modal-text {
  font-size: 0.875rem;
  font-weight: 500;
}

/* Data entries styles: */

.entry-row {
  font-size: 1rem;
}

.user-entry {
  margin-bottom: 5%;
  list-style: none;
}

.no-entry-styles {
  display: flex;
  justify-content: space-between;
  padding: 0 0.75rem;
}

.no-entry-message {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  margin-left: 2rem;
}

.entries-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.entry-link {
  text-decoration: none;
  text-transform: uppercase;
  background-color: #562b81;
  color: #fff;
  height: 1.6rem;
  width: 4.3rem;
  border: #562b81 solid 0.3rem;
  border-radius: 0.1rem;
  padding-bottom: 1.5rem;
  text-align: center;
}

.entry-img {
  object-fit: contain;
  border-radius: 0.5rem;
  margin-top: 20px;
}

.entries-list {
  padding: 0%;
}

.text-column {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .user-entry {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
}

.entry-title {
  display: flex;
  justify-content: space-between;
}

.icon {
  color: #562b81;
}
